.mobile-nav
    .mobile-nav__sidebar
        .mobile-nav__inner    
            nav.mobile-nav-menu
                ul.mobile-nav-menu__list
                    li.mobile-nav-menu__item.is-dropdown
                        a.mobile-nav-menu__link.is-dropdown__toggle.is-active(href="#") Для дорослих
                            svg.mobile-nav-menu__arrow(width="10" height="7")
                                use(xlink:href="img/sprite.svg#dropdown-arrow")

                        ul.mobile-nav-menu__sub.is-dropdown__menu
                            li.mobile-nav-menu__sub-item
                                a.mobile-nav-menu__sub-link(href="#") Парні заняття
                            li.mobile-nav-menu__sub-item
                                a.mobile-nav-menu__sub-link(href="#") Групові заняття
                            li.mobile-nav-menu__sub-item
                                a.mobile-nav-menu__sub-link(href="#") Індивідуальні заняття

                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Для компаній
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Для дітей
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Розмовний клуб
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Команда
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Правила навчання
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Акції та знижки
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Контакти
