section.adult-section
    .container.adult-section__container
        .adult-section__descr.animation-down
            p Розкрийте свій потенціал з 
                strong.purple-color курсами англійської для дорослих! 
            p Незалежно від вашого рівня та мети вивчення мови, ми пропонуємо гнучкі формати навчання
        
        ul.page-menu.animation-down
            li.page-menu__item
                a.page-menu__link(href="#") Парні заняття
            li.page-menu__item
                a.page-menu__link.is-active(href="#") Групові заняття
            li.page-menu__item
                a.page-menu__link(href="#") Індивідуальні заняття

        .page-select.is-dropdown.animation-down
            button.page-select__toggle.is-dropdown__toggle(type="button" aria-label="Choose Page") Групові заняття
                svg.page-select__toggle-icon(width="10" height="7")
                    use(xlink:href="img/sprite.svg#dropdown-arrow")

            ul.page-select__dropdown.is-dropdown__menu
                li.page-select__item
                    a.page-select__link(href="#") Парні заняття
                li.page-select__item
                    a.page-select__link(href="#") Індивідуальні заняття

        ul.adult-section__list
            li.adult-section__item.animation-down
                h2.sub-title Чому варто обрати парні заняття?
                
                .white-block
                    .white-block__text
                        ul.diamond-list
                            li Уроки англійської по 
                                strong.blue-color доступній ціні
                                | , за майже індивідуальний підхід.
                            li 
                                strong.blue-color Максимум уваги від викладача
                                | : маєте змогу задати всі питання та висловити всі думки англійською.
                            li Можливість 
                                strong.blue-color підбирати програму
                                |  під власні потреби.

                    .white-block__buttons.white-block__buttons--mt
                        a.button.white-block__button(href="#") Тест на рівень англійської
                        a.button.button--outline.white-block__button(href="#" data-modal="modal-lesson") Пробний урок
            
            li.adult-section__item.animation-down
                h2.sub-title Як почати парне навчання?

                .adult-steps
                    .adult-steps__item
                        .icon-item
                            .icon-item__count 1
                            .icon-item__title Якщо Ви вже маєте партнера, то навчання можна почати одразу, попередньо визначивши напрям курсу та графік занять
                    
                    .adult-steps__item
                        .icon-item
                            .icon-item__count 2
                            .icon-item__title Якщо Ви бажаєте навчатись у парі, але партнера не маєте, ми допоможемо Вам у цьому питанні
                    
                    .adult-steps__item
                        .icon-item
                            .icon-item__count 3
                            .icon-item__title Зазвичай підбір напарника для навчання займає біля 2 тижнів
                    
                    .adult-steps__item
                        .icon-item
                            .icon-item__count 4
                            .icon-item__title Графік та програма курсу при цьому узгоджується з обома студентами

                .white-block__buttons.white-block__buttons--center
                    a.button.white-block__button(href="#") Тест на рівень англійської

            li.adult-section__item.animation-down
                .banner
                    h2.banner__title Не знаєте з 
                        br
                        | чого почати?
                    h3.banner__sub-title Перевіримо Ваш рівень знань з англійської
                    p.banner__descr
                        span Запишіться на пробний урок
                        br
                        | і ми допоможемо Вам визначитися

                    .banner__buttons
                        a.button.banner__button(href="#" data-modal="modal-lesson") Пробний урок
                        a.button.button--white.banner__button(href="#") Тест на рівень англійської

                    picture.banner__picture
                        img.banner__img(src="img/banner-img.webp" srcset="img/banner-img@2x.webp 2x" loading="lazy" width="483" height="448"  alt="alt")
            
            li.adult-section__item.animation-down
                h3.sub-title Вартість занять

                .white-block
                    .white-block__text
                        p Вартість парних занять у нашій школі складає від 265 грн за урок.
                        p Це інвестиція, яка видається невеликою порівняно зі значними результатами, які ви отримаєте. Забезпечте собі ефективне навчання за такими привабливими цінами:

                    ul.white-block__cost
                        li.white-block__cost-item
                            .icon-item
                                .icon-item__count 294
                                    span грн
                                .icon-item__title 45 хвилин
                        
                        li.white-block__cost-item
                            .icon-item
                                .icon-item__count 315
                                    span грн
                                .icon-item__title 60 хвилин
                        
                        li.white-block__cost-item
                            .icon-item
                                .icon-item__count 368
                                    span грн
                                .icon-item__title 90 хвилин

                    .white-block__text
                        p Не втрачайте можливості для особистого й професійного зростання.
                        p Замовте свої заняття прямо зараз та розпочніть свій шлях до впевненості в англійській мові. 

                    .white-block__line

                    .white-block__text
                        h3.fz-25 Знижки та бонуси для парних занять
                        ul.diamond-list
                            li Економте з нами: 3% знижка на оплату від 10 занять.
                            li Відкрийте нові можливості: 5% знижка при оплаті половини курсу.
                            li Заощаджуйте максимум: 10% знижка на оплату курсу.
                            li Більше знижок разом: 3% сімейна знижка для всіх членів сім'ї.
                            li Перейдіть на новий рівень: 3% знижка за успішний перехід на наступний рівень.
                        p В якості бонусу, даруємо безкоштовний доступ до 
                            a.blue-link(href="#") "Speaking club"
                            | .
                        p Замовляйте навчання вже сьогодні та насолоджуйтесь знижками, які ми пропонуємо. 

                    .white-block__buttons.white-block__buttons--mt
                        a.button.white-block__button(href="#" data-modal="modal-lesson") Пробний урок
