section.adult-section
    .container.adult-section__container
        .adult-section__descr.animation-down
            p Розкрийте свій потенціал з 
                strong.purple-color курсами англійської для дорослих! 
            p Незалежно від вашого рівня та мети вивчення мови, ми пропонуємо гнучкі формати навчання
        
        ul.page-menu.animation-down
            li.page-menu__item
                a.page-menu__link(href="#") Парні заняття
            li.page-menu__item
                a.page-menu__link(href="#") Групові заняття
            li.page-menu__item
                a.page-menu__link.is-active(href="#") Індивідуальні заняття

        .page-select.is-dropdown.animation-down
            button.page-select__toggle.is-dropdown__toggle(type="button" aria-label="Choose Page") Індивідуальні заняття
                svg.page-select__toggle-icon(width="10" height="7")
                    use(xlink:href="img/sprite.svg#dropdown-arrow")

            ul.page-select__dropdown.is-dropdown__menu
                li.page-select__item
                    a.page-select__link(href="#") Парні заняття
                li.page-select__item
                    a.page-select__link(href="#") Групові заняття

        ul.adult-section__list
            li.adult-section__item.animation-down
                .white-block
                    .white-block__text
                        p Індивідуальні заняття в нашій школі - це інвестиція у вашу успішну майбутню комунікацію англійською мовою.
                        p Ми пропонуємо вам можливість зосередитися на вашому особистому навчанні та досягти значних результатів.

                    .white-block__buttons.white-block__buttons--mt
                        a.button.white-block__button(href="#") Тест на рівень англійської
            
            li.adult-section__item.animation-down
                h3.sub-title Вартість занять

                .white-block
                    .white-block__text
                        p Вартість індивідуальних занять у нашій школі складає від 330 грн за урок. 
                        p Це інвестиція, яка видається невеликою порівняно зі значними результатами, які ви отримаєте. Забезпечте собі ефективне навчання за такими привабливими цінами:

                    ul.white-block__cost
                        li.white-block__cost-item
                            .icon-item
                                .icon-item__count 368
                                    span грн
                                .icon-item__title 45 хвилин
                        
                        li.white-block__cost-item
                            .icon-item
                                .icon-item__count 480
                                    span грн
                                .icon-item__title 60 хвилин
                        
                        li.white-block__cost-item
                            .icon-item
                                .icon-item__count 500
                                    span грн
                                .icon-item__title 90 хвилин

                    .white-block__line

                    .white-block__text
                        p Отримайте найкращу ціну за якісне навчання від наших професіоналів.
                        p Замовте свої заняття прямо зараз та розпочніть свій шлях до впевненості в англійській мові. 

                    .white-block__buttons.white-block__buttons--mt
                        a.button.white-block__button(href="#" data-modal="modal-lesson") Пробний урок

            li.adult-section__item.animation-down
                .banner
                    h2.banner__title Не знаєте з 
                        br
                        | чого почати?
                    h3.banner__sub-title Перевіримо Ваш рівень знань з англійської
                    p.banner__descr
                        span Запишіться на пробний урок
                        br
                        | і ми допоможемо Вам визначитися

                    .banner__buttons
                        a.button.banner__button(href="#") Пробний урок
                        a.button.button--white.banner__button(href="#") Тест на рівень англійської

                    picture.banner__picture
                        img.banner__img(src="img/banner-img.webp" srcset="img/banner-img@2x.webp 2x" loading="lazy" width="483" height="448"  alt="alt")

            li.adult-section__item.animation-down
                h3.sub-title Викладачі

                .white-block
                    .white-block__row
                        .white-block__content.white-block__col
                            ul.check-list
                                li Володіють англійською на рівні носія.
                                li Створюють індивідуальну програму, адаптовану до ваших потреб та мети.
                                li Мають багаторічний досвід викладання та проживання за кордоном 
                                li Дають практику англійської в коректному лінгвістичному напрямку
                                li Гнучкі у плануванні графіку занять, що дозволяє займатися зручно та ефективно.
                                li Не втрачайте можливості для особистого й професійного зростання.
                            
                            .white-block__buttons
                                a.button.white-block__button(href="#" data-modal="modal-lesson") Пробний урок
                        
                        figure.white-block__figure.white-block__col
                            picture.white-block__picture
                                img.white-block__img(src="img/adult-img-4.webp" srcset="img/adult-img-4@2x.webp 2x" loading="lazy" width="540" height="389"  alt="alt")
            
            li.adult-section__item.animation-down
                h3.sub-title Гарантії збереження оплачених коштів

                .white-block
                    .white-block__text
                        p Ми гарантуємо безпеку та збереження ваших оплачених коштів.
                        p Ви можете скористатися наступними перевагами:
                        ul.check-list
                            li При необхідності, ви можете призупинити навчання та зберегти свої кошти. Ми зберігаємо оплату та продовжуємо заняття, коли ви повернетесь.
                            li У разі, якщо заняття потрібно зупинити, ми готові розглянути можливість повернення ваших коштів.
                            li Якщо вам потрібно змінити викладача, ми з радістю вам допоможемо. Ваш комфорт та вибір - наш пріоритет.
                        p
                            strong Приєднуйтесь до наших індивідуальних занять вже сьогодні, та відкрийте нові можливості у вивченні мови!

                    .white-block__buttons.white-block__buttons--mt
                        a.button.white-block__button(href="#" data-modal="modal-lesson") Пробний урок
            
            li.adult-section__item.animation-down
                h3.sub-title Знижки та бонуси для індивідуальних занять

                .white-block
                    .white-block__row
                        figure.white-block__figure.white-block__col
                            picture.white-block__picture
                                img.white-block__img(src="img/adult-img-5.webp" srcset="img/adult-img-5@2x.webp 2x" loading="lazy" width="537" height="449"  alt="alt")

                        .white-block__content.white-block__col
                            h3 Знижки та бонуси для індивідуальних занять
                            ul.diamond-list
                                li Економте з нами: 3% знижка на оплату від 10 занять.
                                li Відкрийте нові можливості: 5% знижка при оплаті половини курсу.
                                li Заощаджуйте максимум: 10% знижка на оплату курсу.
                                li Більше знижок разом: 3% сімейна знижка для всіх членів сім'ї.
                                li Перейдіть на новий рівень: 3% знижка за успішний перехід на наступний рівень.

                            p
                                strong.purple-color В якості бонусу, даруємо безкоштовний доступ до "Speaking club".
                            p Замовляйте навчання вже сьогодні та насолоджуйтесь знижками, які ми пропонуємо. 
                            
                            .white-block__buttons
                                a.button.white-block__button(href="#" data-modal="modal-lesson") Пробний урок
