section.banner-section.banner-section--mb
    .container.banner-section__container
        .banner
            h2.banner__title.animation-down Не знаєте з 
                br
                | чого почати?
            h3.banner__sub-title.animation-down(data-delay="0.2") Перевіримо Ваш рівень знань з англійської
            p.banner__descr.animation-down(data-delay="0.4")
                span Запишіться на пробний урок
                br
                | і ми допоможемо Вам визначитися

            .banner__buttons.animation-down(data-delay="0.6")
                a.button.banner__button(href="#" data-modal="modal-lesson") Пробний урок
                a.button.button--white.banner__button(href="#") Тест на рівень англійської

            picture.banner__picture.animation-fade
                img.banner__img(src="img/banner-img.webp" srcset="img/banner-img@2x.webp 2x" loading="lazy" width="483" height="448"  alt="alt")