section.club-section
    .container.club-section__container
        ul.club-section__list
            li.club-section__item.animation-down
                .white-block
                    .white-block__row
                        .white-block__content.white-block__col
                            ul.check-list
                                li Наші заняття у форматі Speaking Club - це захоплюючі онлайн-зустрічі, які проводяться окремо для дітей і дорослих у нашій школі англійської мови.
                                li 
                                    strong У дитячому Speaking Club
                                    |  ми створюємо дружню атмосферу.
                                li Діти можуть вільно виражати свої думки, вдосконалювати вимову та розширювати свій словниковий запас. Вони беруть участь у різних інтерактивних іграх, рольових ситуаціях та творчих завданнях, що допомагають розвинути їх впевненість у спілкуванні англійською мовою.
                                li 
                                    strong В дорослому Speaking Club
                                    | , учасники ведуть дискусії, обговорюють актуальні теми, готують міні-презентації та виконують різноманітні мовні завдання. Це сприяє практичному застосуванню англійської мови.
                                li Ви отримаєте можливість не тільки вдосконалити своє мовлення, але й познайомитися з цікавими людьми з різних країн та культур, що збагатить ваші заняття новими перспективами та знаннями.
                                li Всі наші заняття відбуваються в онлайн-форматі. Ви можете зручно займатися з будь-якого місця з доступом до Інтернету.
                            
                            .white-block__buttons
                                a.button.button--outline.white-block__button(href="#") Тест на рівень англійської

                        figure.white-block__figure.white-block__col
                            picture.white-block__picture
                                img.white-block__img(src="img/club-img-1.webp" srcset="img/club-img-1@2x.webp 2x" loading="lazy" width="540" height="541"  alt="alt")
                            figcaption.white-block__figcaption Приєднуйтеся до нашого Speaking Club, стань майстром спілкування англійського

            li.club-section__item.animation-down
                .white-block
                    .white-block__row
                        figure.white-block__figure.white-block__col
                            picture.white-block__picture
                                img.white-block__img(src="img/club-img-2.webp" srcset="img/club-img-2@2x.webp 2x" loading="lazy" width="540" height="541"  alt="alt")

                        .white-block__content.white-block__col
                            h3.white-block__question Хто проводить розмовний клуб?
                            p Розмовні клуби проводить викладач з англійською на рівні носія, володіє багатим словниковим запасом, граматично правильно висловлюється та має природну вимову. Наш викладач енергійний та створює комфортну атмосферу, яка сприяє вільному говорінню англійською

                            h3.white-block__question Скільки коштує?
                            p Для учнів нашої школи заняття є безкоштовними. Якщо ти ще не студент школи, заняття можна придбати всього за 200 грн. 

                            ul.check-list
                                li Також ми пропонуємо вигідний абонемент на місяць всього за 500 грн. Це найкращий спосіб отримати постійну практику та розвинути свої навички за доступною ціною.
                                li Розмовні клуби - це вигідний та ефективний шлях покращити ваше володіння англійською мовою, а наші ціни роблять це ще більш привабливим для вас.
                            
                            .white-block__buttons
                                a.button.white-block__button(href="#" data-modal="modal-lesson") пробний урок
                                a.button.button--outline.white-block__button(href="#") Тест на рівень англійської
