section.company-section
    .container.company-section__container
        h2.company-section__title.animation-down Для корпоративних клієнтів
        p.company-section__descr.animation-down Пропонуємо різноманітні програми навчання, які відповідають потребам різних професій та галузей. 
        
        ul.company-section__list
            li.company-section__item.animation-down
                .white-block
                    .white-block__row.white-block__row--fs
                        .white-block__content.white-block__col
                            ul.check-list
                                li
                                    strong Загальна англійська:
                                    |  для тих, хто має загальну мету покращення рівня англійської мови охоплює всі аспекти мови: граматику, лексику, аудіювання, читання, говоріння та письмо.
                                li
                                    strong Бізнес-англійська:
                                    |  Для тих, хто цікавиться англійською мовою в бізнес-середовищі, ця програма розвиває комунікативні навички, необхідні для успішної роботи, включаючи презентації, переговори та письмову комунікацію.
                                li
                                    strong HR програма:
                                    |  Якщо ви працюєте в сфері управління персоналом, ця програма допоможе вам поліпшити навички спілкування, ведення співбесід та роботи зі стафом в міжнародному середовищі.
                                li
                                    strong IT програма:
                                    |  Для фахівців у сфері інформаційних технологій ми розробили спеціалізовану програму, що допоможе покращити технічний словник та комунікацію з колегами та клієнтами по всьому світу.
                                li
                                    strong Логістична програма:
                                    |  Програма, орієнтована на логістичних спеціалістів, розкриє теми, пов'язані з міжнародними перевезеннями, складським управлінням та ефективними логістичними процесами.
                                li
                                    strong Юридична програма:
                                    |  Для юристів ми пропонуємо спеціальну програму, що розширить юридичну лексику, поліпшить навички письма юридичних документів та комунікацію з клієнтами англійською мовою.
                                li
                                    strong Медична програма:
                                    |  Для медичних працівників ми розробили програму, яка охоплює медичну термінологію, специфічність спілкування з пацієнтами та колегами, а також професійні вимоги в міжнародному контексті.
                                
                                h3 Ми завжди готові допомогти вам обрати найкращу програму, яка відповідатиме вашим цілям і потребам.
                            
                            .white-block__buttons
                                a.button.white-block__button(href="#" data-modal="modal-lesson") Пробний урок
                                a.button.button--outline.white-block__button(href="#" data-modal="modal-consult") КОНСУЛЬТАЦІЯ менеджера

                        figure.white-block__figure.white-block__col
                            picture.white-block__picture
                                img.white-block__img(src="img/company-img-1.webp" srcset="img/company-img-1@2x.webp 2x" loading="lazy" width="540" height="389"  alt="alt")
            
            li.company-section__item.animation-down
                h3.sub-title Вартість занять

                .white-block
                    .white-block__text.align-center
                        p Корпоративна англійська від нашої школі - це не тільки інвестиція у розвиток персоналу, але й можливість побудувати сильну команду та розширити комунікативні навички співробітників.
                        p Для нашого корпоративного клієнта/компанії ми пропонуємо гнучкі та конкурентні ціни:

                    ul.white-block__cost
                        li.white-block__cost-item
                            .icon-item
                                .icon-item__count 800
                                    span грн
                                .icon-item__title Групове заняття до 6 студентів
                        
                        li.white-block__cost-item
                            .icon-item
                                .icon-item__count 990
                                    span грн
                                .icon-item__title Групове заняття до 10 студентів
                        
                        li.white-block__cost-item
                            .icon-item
                                .icon-item__count 650
                                    span грн
                                .icon-item__title Індивідуальні заняття

                    .white-block__line

                    .white-block__text
                        p Але це ще не все! При оплаті трьох груп одночасно, ви отримуєте знижку 5% додатково від вартості занять.
                        p Нехай ваші співробітники отримують незабутні уроки з нашими кваліфікованими викладачами та підвищують свої знання англійської мови разом з нами. Замовте консультацію від нашого менеджера вже зараз!

                    .white-block__buttons.white-block__buttons--mt
                        a.button.white-block__button(href="#" data-modal="modal-lesson") Пробний урок
                        a.button.button--outline.white-block__button(href="#" data-modal="modal-consult") КОНСУЛЬТАЦІЯ менеджера

            li.company-section__item.animation-down
                h3.sub-title Викладачі корпоративної англійської

                .white-block
                    .white-block__row.white-block__row--fs
                        .white-block__content.white-block__col
                            p Інвестуйте у майбутні успіхи вашої компанії з нашими спеціалізованими курсами англійської мови. Замовте консультацію менеджера та дізнайтеся 
                            ul.check-list
                                li як проходить навчання 
                                li які знання отримають Ваші працівники
                                li який бюджет планувати для навчання персоналу 

                            h3.blue-color Викладачі англійської для компаній 
                            ul.check-list
                                li молоді та енергійні, але не менш професійні
                                li висококваліфіковані викладачі з глибоким розумінням англійської мови та багаторічним досвідом у викладанні
                                li володіють англійською мовою на рівні носія та знають, як швидко привести студентів до потрібного результату
                                li орієнтовані на потреби клієнта та використовують сучасні технології та ресурси, щоб зробити навчання цікавим та ефективним
                                li зберігають прагнення до навчання та саморозвитку незважаючи на свій вагомий досвід.
                            p
                                strong Приєднуйтесь до нас зараз, щоб переконатися у прогресі, який ваші співробітники отримають, стаючи впевненими та вмілими англомовними професіоналами

                            .white-block__buttons
                                a.button.white-block__button(href="#" data-modal="modal-lesson") Пробний урок
                                a.button.button--outline.white-block__button(href="#" data-modal="modal-consult") КОНСУЛЬТАЦІЯ менеджера

                        figure.white-block__figure.white-block__col
                            picture.white-block__picture
                                img.white-block__img(src="img/company-img-2.webp" srcset="img/company-img-2@2x.webp 2x" loading="lazy" width="570" height="398"  alt="alt")

            li.company-section__item.animation-down
                h3.sub-title Ми радо проведемо презентацію наших послуг для представників вашої компанії, де ми:

                .white-block
                    .white-block__row
                        figure.white-block__figure.white-block__col
                            picture.white-block__picture
                                img.white-block__img(src="img/company-img-3.webp" srcset="img/company-img-3@2x.webp 2x" loading="lazy" width="542" height="361"  alt="alt")

                        .white-block__content.white-block__col
                            ul.diamond-list
                                li розкажемо про наш підхід до навчання та тестування
                                li протестуємо співробітників на знання мови
                                li проведемо демо-урок
                                li відповімо на всі ваші питання, пов'язані з корпоративним навчанням англійській

                            h3 Наша команда експертів готова надати вам всю необхідну інформацію та пояснити переваги, які наші послуги можуть принести користь вашій компанії.
                            
                            .white-block__buttons
                                a.button.white-block__button(href="#" data-modal="modal-consult") КОНСУЛЬТАЦІЯ менеджера
