section.contacts-section
    picture.contacts-section__bg
        img.contacts-section__bg-img(src="img/contacts-bg.webp" srcset="img/contacts-bg@2x.webp 2x" loading="lazy" width="1920" height="793"  alt="alt")

    .container.contacts-section__container
        ul.contacts-list.animation-up
            li.contacts-list__item
                a.contacts-list__link(href="#") 
                    .contacts-list__pic
                        svg.contacts-list__icon(width="51" height="57")
                            use(xlink:href="img/sprite.svg#tiktok")
                    .contacts-list__title Tik Tok
            
            li.contacts-list__item
                a.contacts-list__link(href="#") 
                    .contacts-list__pic
                        svg.contacts-list__icon(width="57" height="51")
                            use(xlink:href="img/sprite.svg#telegram")
                    .contacts-list__title ТГ канал
            
            li.contacts-list__item
                a.contacts-list__link(href="#") 
                    .contacts-list__pic
                        svg.contacts-list__icon(width="47" height="51")
                            use(xlink:href="img/sprite.svg#viber")
                    .contacts-list__title Viber 
                        br
                        | cпільнота
            
            li.contacts-list__item
                a.contacts-list__link(href="#") 
                    .contacts-list__pic
                        svg.contacts-list__icon(width="47" height="51")
                            use(xlink:href="img/sprite.svg#viber")
                    .contacts-list__title Viber 
                        br
                        | канал

            li.contacts-list__item
                a.contacts-list__link(href="#") 
                    .contacts-list__pic
                        svg.contacts-list__icon(width="51" height="51")
                            use(xlink:href="img/sprite.svg#instagram")
                    .contacts-list__title Instagram
            
            li.contacts-list__item
                a.contacts-list__link(href="#") 
                    .contacts-list__pic
                        svg.contacts-list__icon(width="26" height="51")
                            use(xlink:href="img/sprite.svg#facebook")
                    .contacts-list__title Facebook
            
            li.contacts-list__item
                a.contacts-list__link(href="#") 
                    .contacts-list__pic
                        svg.contacts-list__icon(width="62" height="42")
                            use(xlink:href="img/sprite.svg#youtube")
                    .contacts-list__title Youtube
