section.discount-section
    .container.discount-section__container
        .icon-block.animation-down
            .icon-block__header
                .icon-block__pic
                    svg.icon-block__icon(width="30" height="30")
                        use(xlink:href="img/sprite.svg#discount")

                h2.icon-block__title Отримайте свій власний калейдоскоп знижок!

            .icon-block__body
                ul.percent-list
                    li.percent-list__item
                        .icon-item
                            .icon-item__count 3%
                            .icon-item__title Економте з нами
                            .icon-item__descr 3% знижка на оплату
                                br
                                | від 10 занять
                    
                    li.percent-list__item
                        .icon-item
                            .icon-item__count 5%
                            .icon-item__title Відкрийте нові можливості
                            .icon-item__descr 5% знижка при оплаті
                                br
                                | половини курсу
                    
                    li.percent-list__item
                        .icon-item
                            .icon-item__count 10%
                            .icon-item__title Заощаджуйте максимум
                            .icon-item__descr 10% знижка на оплату
                                br
                                | курсу
                    
                    li.percent-list__item
                        .icon-item
                            .icon-item__count 3%
                            .icon-item__title Більше знижок разом
                            .icon-item__descr 3% сімейна знижка для
                                br
                                | всіх членів сім'ї
                    
                    li.percent-list__item
                        .icon-item
                            .icon-item__count 3%
                            .icon-item__title Перейдіть на новий рівень
                            .icon-item__descr 3% знижка за успішний перехід
                                br
                                | на наступний рівень

                h3.align-center * знижки не сумуються
                ul.check-list
                    li В якості бонусу, даруємо безкоштовний доступ до "Speaking club".
                    li Даруємо 1 заняття за щирий відгук про школу 
                        a(href="https://g.page/r/CUCAcCJyt5j6EBM/review") https://g.page/r/CUCAcCJyt5j6EBM/review
                    li Кожен імениник школи отримує 1 урок в подарунок.
                h3 Замовляйте навчання вже сьогодні та насолоджуйтесь знижками, які ми пропонуємо. 
                button.button.icon-block__button.icon-block__button--center(type="button" data-modal="modal-lesson") Пробний урок