section.feedback-section
    .container.feedback-section__container
        .feedback-section__col.animation-down
            h2.section-title.feedback-section__title Відгуки про нас
        
        .feedback-section__col.animation-down
            .feedback-card
                img.feedback-card__logo(src="img/google.svg" loading="lazy" width="116" height="38" alt="google")
                img.feedback-card__rating(src="img/5-stars.svg" loading="lazy" width="164" height="18" alt="rating")
                h3.feedback-card__title Відгуки кліентів

        .feedback-section__col.animation-down
            .feedback-card
                img.feedback-card__logo(src="img/enguide.svg" loading="lazy" width="116" height="34" alt="enguide")
                img.feedback-card__rating(src="img/9-stars.svg" loading="lazy" width="164" height="18" alt="rating")
                h3.feedback-card__title Відгуки кліентів

        .feedback-section__col.animation-down
            .feedback-section__buttons
                a.button.feedback-section__button(href="#" data-modal="modal-lesson") Пробний урок
                a.button.button--outline.feedback-section__button(href="#") Тест на рівень англійської
