section.kids-section
    .container.kids-section__container
        h2.kids-section__title.animation-down Відкрийте для своєї дитини світові можливості спілкування та навчання англійською
        p.kids-section__descr.animation-down Зробіть надійну інвестицію в майбутнє - запишіть дитину на навчання в онлайн школу англійської AplusB school
        .kids-section__buttons.animation-down
            a.button.kids-section__button(href="#") Тест на рівень англійської
            a.button.button--outline.kids-section__button(href="#" data-modal="modal-lesson") пробний урок
        
        ul.kids-section__list
            li.kids-section__item.animation-down
                h3.sub-title Як проходять уроки

                .white-block
                    .white-block__row.white-block__row--fs
                        .white-block__content.white-block__col
                            ul.check-list
                                li
                                    strong Віртуальні пригоди з англійською мовою для дітей!
                                li
                                    p
                                        strong Заняття на платформі Zoom та іноді Google Meet.
                                    p Надаємо електронні версії підручників безкоштовно, а друковані можна замовити самостійно або через нашу школу з доставкою.
                                    p Використовуємо матеріали британських видавництв Cambridge та Pearson.
                                li
                                    p
                                        strong До 90% уроку - англійською мовою
                                    p На українську переходимо лише в крайніх випадках, зазвичай на початкових рівнях.
                                    p Максимально занурюємо дітей у мовне середовище.
                                li
                                    p
                                        strong Домашнє завдання після кожного уроку діти отримують та при необхідності додатковий матеріал для його виконання.
                                    p Так ми практикуємо отримані знання і розвиваємо навички.
                                li
                                    p 
                                        strong Перед кожним уроком діти відправляють викладачу домашнє завдання на перевірку. 
                                        | Це дозволяє нам забезпечити індивідуальний підхід та зробити кожен урок якомога кориснішим.
                                    p Разом з нами ваша дитина зануриться в світ англійської мови та досягне нових вершин навчання!
                            
                            .white-block__buttons
                                a.button.white-block__button(href="#") Тест на рівень англійської
                                a.button.button--outline.white-block__button(href="#" data-modal="modal-lesson") пробний урок

                        figure.white-block__figure.white-block__col
                            picture.white-block__picture
                                img.white-block__img(src="img/kids-img-1.webp" srcset="img/kids-img-1@2x.webp 2x" loading="lazy" width="540" height="389"  alt="alt")
            
            li.kids-section__item.animation-down
                h3.sub-title Вартість уроків

                .white-block
                    .white-block__row.white-block__row--flex
                        .icon-item
                            .icon-item__count 235
                                span грн

                        .white-block__content
                            p Дитячі заняття від 235 грн за урок - це ваш крок до великого успіху! 
                            p Кожна гривня, вкладена в навчання дитини, буде відшкодована результатами та її особистим розвитком.
                            p Відкрийте для своєї дитини безмежні можливості та покажіть, що навчання може бути захопливим та цікавим!
                            p
                                strong Запишіться на наші дитячі заняття вже сьогодні та подаруйте своїй дитині найкращий старт у житті!

                    .white-block__buttons.white-block__buttons--mt
                        a.button.white-block__button(href="#" data-modal="modal-schedule") розклад груп
                        a.button.button--outline.white-block__button(href="#" data-modal="modal-lesson") пробний урок

            li.kids-section__item.animation-down
                h3.sub-title Скільки дітей в групі?

                .white-block
                    .white-block__content
                        p Наші групові заняття обмежені до 6 учнів.
                        p Ми прагнемо надати вашій дитині найкращі умови для навчання англійської мови, тому кількість дітей до 6 учнів у групі є важливою частиною нашого підходу.
                        p
                            strong Ми віримо, що такий формат навчання допомагає дітям досягати високих результатів.

            li.kids-section__item.animation-down
                h3.sub-title Скільки триває курс?

                .white-block
                    .white-block__content
                        p Наш захоплюючий курс англійської підніме знання вашої дитини на 1 рівень за 70 занять! 
                        p Наш навчальний рік триває від вересня до червня.
                        p
                            strong По закінченню курсу дитина отримає сертифікат із зазначенням часу, який вона вклала у вивчення, та рівня, який вона досягла згідно стандартів CEFR.
            
            li.kids-section__item.animation-down
                h3.sub-title Як батьки можуть відслідкувати прогрес дитини?

                .white-block
                    .white-block__content
                        p Тестування прогресу дитини відбувається після кожного пройденого юніту. 
                        p Батьки отримують звіт про результат навчання дитини
                        p Ви будете в курсі прогресу та розуміти, як дитина справляється зі своїми навчальними завданнями. 
                        p Школа прагне забезпечити прозорість та співпрацю між школою та батьками.
                        p Це допомагає кожному учневі досягати найкращих результатів.
                        p
                            strong AplusB пишаєься своїми учнями та ми впевнені, що разом з вами, батьками, ми надаємо найкращу освіту та готуємо дітей до світу знань і можливостей.

                    .white-block__buttons.white-block__buttons--mt
                        a.button.white-block__button(href="#" data-modal="modal-consult") КОНСУЛЬТАЦІЯ менеджера

            li.kids-section__item.animation-down
                .white-block
                    .white-block__row.white-block__row--fs
                        figure.white-block__figure.white-block__col
                            picture.white-block__picture
                                img.white-block__img(src="img/kids-img-2.webp" srcset="img/kids-img-2@2x.webp 2x" loading="lazy" width="542" height="361"  alt="alt")

                        .white-block__content.white-block__col
                            h3 Як можна відпрацювати пропущене заняття?
                            p Мета школи  - забезпечити якісну освіту та задоволення учнів. Гнучкість у відпрацюванні пропущених занять сприяє безперебійному навчанню та досягненню високих результатів.

                            ul.diamond-list
                                li У разі відсутності на уроці через непередбачені обставини, 
                                    strong зберігаємо
                                    |  оплачене заняття та дозволяємо 
                                    strong відпрацювати
                                    |  його протягом двох тижнів.
                                li Попереднє повідомлення про відсутність на уроці необхідне. Ми надаємо замінні заняття, щоб кожен урок був успішним.
                                li Наша мета - забезпечити якісну освіту та задоволення учнів. Гнучкість у відпрацюванні пропущених занять сприяє безперебійному навчанню та досягненню високих результатів.
                                li Заздалегідь повідомте нас про відсутність на уроці, це важливо для належної організації заняття.

                    h3 Приєднуйтесь до нашої школи англійської мови, де ми враховуємо ваші потреби та надаємо гнучкі умови навчання.
                    .white-block__buttons.white-block__buttons--mt
                        a.button.white-block__button(href="#") Тест на рівень англійської
                        a.button.button--outline.white-block__button(href="#" data-modal="modal-lesson") пробний урок