section.head-section
    .container.head-section__container
        h1.section-title.head-section__title.animation-down Для дітей

        nav.breadcrumbs.animation-down(aria-label="breadcrumb")
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Головна
                li.breadcrumbs__item(aria-current="page") Для дітей
