section.rules-section
    .container.rules-section__container
        ul.rules-section__list
            li.rules-section__item.animation-down
                .icon-block
                    .icon-block__header
                        .icon-block__pic
                            svg.icon-block__icon(width="30" height="28")
                                use(xlink:href="img/sprite.svg#rules-icon-1")
                        
                        h2.icon-block__title Оплата навчання

                    .icon-block__body
                        ul.check-list
                            li Оплата навчання здійснюється за 1 день до початку курсу.
                            li Якщо оплата не була здійснена вчасно, школа не може гарантувати вільного місця в групі або вільного часу у розкладі школи, якщо це індивідуальне заняття
                            li Оплата на ФОП: Ми приймаємо оплату на Фізичну особу-підприємця, що забезпечує зручність та прозорість фінансових операцій.
                            li Мінімальний термін оплати - абонемент на місяць: Ви можете оплатити навчання на місяць, що дає вам гнучкість та можливість відправитися на курс у ваш зручний часовий період.
                            li Клієнт має право оплатити половину курсу або курс повністю із додатковою знижкою.
                            li Всі студенти нашої школи отримують безкоштовний доступ до нашого розмовного клубу вихідного дня.

            li.rules-section__item.animation-down
                .icon-block
                    .icon-block__header
                        .icon-block__pic
                            svg.icon-block__icon(width="30" height="28")
                                use(xlink:href="img/sprite.svg#rules-icon-2")
                        
                        h2.icon-block__title Відміна та перенесення занять

                    .icon-block__body
                        p Заняття переносяться у випадку попередження адміністрації школи телефонним дзвінком або повідомленням в чат не пізніше ніж за 6 годин до початку заняття. 
                        p У випадку переносу заняття менше ніж за 6 години до його початку, заняття вважаються проведеними.
                        p Перенесені заняття можна відпрацювати протягом 14 календарних днів з моменту пропуску. По закінченню зазначеного терміну невідпрацьовані заняття списуються.
                        h3 Групове заняття можна відпрацювати:

                        ul.check-list
                            li в групі аналогічного рівня, за умови наявності такої групи
                            li індивідуально з викладачем на занятті тривалістю 30 хв
                            li в парі тривалість відпрацювання складає 60хв
                        
                        p Якщо в групі присутній 1 студент, заняття триває 50% навчального часу.
                        p Якщо у групі присутні 2 студенти, заняття триває ~70 % часу, а саме 60 для занять тривалістю 90 хв, та 45хв - для занять 60хв

            li.rules-section__item.animation-down
                .icon-block
                    .icon-block__header
                        .icon-block__pic
                            svg.icon-block__icon(width="30" height="24")
                                use(xlink:href="img/sprite.svg#rules-icon-3")
                        
                        h2.icon-block__title Припинення навчання та повернення коштів

                    .icon-block__body
                        p Якщо клієнт бажає припинити навчання достроково, але не пізніше ніж за 1 місяць до кінця курсу, школа зобов'язується надати один з видів компенсації:
                        ul.check-list
                            li повернути 50% залишку коштів
                            li заморозити 100% залишку коштів з можливістю використання заморожених коштів впродовж 12 міс.
                        p Підставою для повернення коштів студенту є надання заяви адміністрації школи за встановленим зразком.

            li.rules-section__item.animation-down
                .icon-block
                    .icon-block__header
                        .icon-block__pic
                            svg.icon-block__icon(width="22" height="30")
                                use(xlink:href="img/sprite.svg#rules-icon-4")
                        
                        h2.icon-block__title Права студентів та зобов'язання школи

                    .icon-block__body
                        h3 AplusB за прозору співпрацю на зрозумілих умовах.
                        p Кожен студент перед початком навчання отримує договір, де ми прописуємо:
                        ul.check-list
                            li які знання та на яких умовах ви отримаєте на курсі
                            li зобов'язання школи стосовно студента
                            li гарантії результату та умови повернення коштів у разі відсутності результату
                        br
                        h3 Під час процесу навчання після уроку кожен студент отримує:
                        ul.check-list
                            li домашнє завдання на наступний урок
                            li список слів, які необхідно вивчити на наступне заняття
                            li матеріали, необхідні для підготовки до наступного уроку
                        br
                        h3 По закінченню курсу кожен студент отримує:
                        ul.check-list
                            li можливість скласти фінальний тест та отримати його результати
                            li коментарі та рекомендації викладача щодо результатів навчання та подальшого розвитку англійської
                            li сертифікат школи із зазначеним курсом, рівнем, кількістю пройдених занять та балом за успішність
                        br
                        h3 Ми прагнемо росту та вдосконалення, тому всі коментарі стосовно процесу навчання Ви можете озвучити, використовуючи наступні канали комунікації:

                        .icon-block__contacts-group
                            address.icon-block-contacts
                                svg.icon-block-contacts__icon(width="16" height="16")
                                    use(xlink:href="img/sprite.svg#phone")
                                
                                ul.icon-block-contacts__list
                                    li.icon-block-contacts__item
                                        a.icon-block-contacts__link(href="tel:+380957418597") (095) 741-85-97

                                        .social.social--small
                                            ul.social__list
                                                li.social__item
                                                    a.social__link.social__link--telegram(href="#")
                                                        svg.social__icon(width="9" height="8")
                                                            use(xlink:href="img/sprite.svg#telegram")
                                                li.social__item
                                                    a.social__link.social__link--viber(href="#")
                                                        svg.social__icon(width="10" height="12")
                                                            use(xlink:href="img/sprite.svg#viber")

                                    li.icon-block-contacts__item
                                        a.icon-block-contacts__link(href="tel:+380637954313") (063) 795-43-13
                                    
                                    li.icon-block-contacts__item
                                        a.icon-block-contacts__link(href="tel:+380686932908") (068) 693-29-08

                            address.icon-block-contacts
                                svg.icon-block-contacts__icon(width="16" height="16")
                                    use(xlink:href="img/sprite.svg#email")
                                
                                ul.icon-block-contacts__list
                                    li.icon-block-contacts__item
                                        a.icon-block-contacts__link(href="mailto:info@aplusb.com.ua") info@aplusb.com.ua

                        button.button.icon-block__button(type="button") залишити відгук