section.teachers-section
    .container.teachers-section__container
        picture.teachers-section__picture
            img.teachers-section__img(src="img/teachers-img.webp" srcset="img/teachers-img@2x.webp 2x" loading="lazy" width="937" height="541"  alt="alt")

        .teachers-section__content.animation-down
            h2.section-title.teachers-section__title Викладачі школи 
                span.purple-color AplusB
                |  мають досвід викладання від 5 років
            p.teachers-section__descr Приєднуйтесь до нас і дізнайтеся, чому AplusB school є надійним партнером у вашому мовному розвитку.
            a.button.teachers-section__button(href="#" data-modal="modal-lesson") Пробний урок