section.team-section
    .container.team-section__container
        ul.team-section__list
            li.team-section__item.animation-down
                a.team-card(href="#" data-modal="modal-team-1")
                    picture.team-card__picture
                        img.team-card__img(src="img/team/team-img-1.webp" srcset="img/team/team-img-1@2x.webp 2x" loading="lazy" width="315" height="279"  alt="alt")

                    h3.team-card__name Леся Соломка
                    p.team-card__descr засновниця та лідер проєкту

                    .team-card__more Детальніше 
                        svg.team-card__more-icon(width="10" height="7")
                            use(xlink:href="img/sprite.svg#dropdown-arrow")

            li.team-section__item.animation-down
                a.team-card(href="#" data-modal="modal-team-1")
                    picture.team-card__picture
                        img.team-card__img(src="img/team/team-img-2.webp" srcset="img/team/team-img-2@2x.webp 2x" loading="lazy" width="315" height="279"  alt="alt")

                    h3.team-card__name Лариса Князева
                    p.team-card__descr викладач англійської для дорослих та компаній

                    .team-card__more Детальніше 
                        svg.team-card__more-icon(width="10" height="7")
                            use(xlink:href="img/sprite.svg#dropdown-arrow")
            
            li.team-section__item.animation-down
                a.team-card(href="#" data-modal="modal-team-1")
                    picture.team-card__picture
                        img.team-card__img(src="img/team/team-img-3.webp" srcset="img/team/team-img-3@2x.webp 2x" loading="lazy" width="315" height="279"  alt="alt")

                    h3.team-card__name Іра Воробець
                    p.team-card__descr викладач англійської для дорослих та компаній

                    .team-card__more Детальніше 
                        svg.team-card__more-icon(width="10" height="7")
                            use(xlink:href="img/sprite.svg#dropdown-arrow")
            
            li.team-section__item.animation-down
                a.team-card(href="#" data-modal="modal-team-1")
                    picture.team-card__picture
                        img.team-card__img(src="img/team/team-img-4.webp" srcset="img/team/team-img-4@2x.webp 2x" loading="lazy" width="315" height="279"  alt="alt")

                    h3.team-card__name Ксенія Черняк
                    p.team-card__descr викладач англійської, методист

                    .team-card__more Детальніше 
                        svg.team-card__more-icon(width="10" height="7")
                            use(xlink:href="img/sprite.svg#dropdown-arrow")
            
            li.team-section__item.animation-down
                a.team-card(href="#" data-modal="modal-team-1")
                    picture.team-card__picture
                        img.team-card__img(src="img/team/team-img-5.webp" srcset="img/team/team-img-5@2x.webp 2x" loading="lazy" width="315" height="279"  alt="alt")

                    h3.team-card__name Хелен Грінчук
                    p.team-card__descr викладач англійської для дорослих та компаній

                    .team-card__more Детальніше 
                        svg.team-card__more-icon(width="10" height="7")
                            use(xlink:href="img/sprite.svg#dropdown-arrow")

            li.team-section__item.animation-down
                a.team-card(href="#" data-modal="modal-team-1")
                    picture.team-card__picture
                        img.team-card__img(src="img/team/team-img-6.webp" srcset="img/team/team-img-6@2x.webp 2x" loading="lazy" width="315" height="279"  alt="alt")

                    h3.team-card__name Катя Зорко
                    p.team-card__descr викладач англійської для дорослих та дітей

                    .team-card__more Детальніше 
                        svg.team-card__more-icon(width="10" height="7")
                            use(xlink:href="img/sprite.svg#dropdown-arrow")

            li.team-section__item.animation-down
                a.team-card(href="#" data-modal="modal-team-1")
                    picture.team-card__picture
                        img.team-card__img(src="img/team/team-img-7.webp" srcset="img/team/team-img-7@2x.webp 2x" loading="lazy" width="315" height="279"  alt="alt")

                    h3.team-card__name Євгенія Сіроштан
                    p.team-card__descr викладач англійської для дорослих та дітей

                    .team-card__more Детальніше 
                        svg.team-card__more-icon(width="10" height="7")
                            use(xlink:href="img/sprite.svg#dropdown-arrow")
            
            li.team-section__item.animation-down
                a.team-card(href="#" data-modal="modal-team-1")
                    picture.team-card__picture
                        img.team-card__img(src="img/team/team-img-8.webp" srcset="img/team/team-img-8@2x.webp 2x" loading="lazy" width="315" height="279"  alt="alt")

                    h3.team-card__name Катя Віник
                    p.team-card__descr викладач англійської для дорослих та дітей

                    .team-card__more Детальніше 
                        svg.team-card__more-icon(width="10" height="7")
                            use(xlink:href="img/sprite.svg#dropdown-arrow")
            
            li.team-section__item.animation-down
                a.team-card(href="#" data-modal="modal-team-1")
                    picture.team-card__picture
                        img.team-card__img(src="img/team/team-img-9.webp" srcset="img/team/team-img-9@2x.webp 2x" loading="lazy" width="315" height="279"  alt="alt")

                    h3.team-card__name Юлія Майстришин
                    p.team-card__descr менеджер по роботі з клієнтами

                    .team-card__more Детальніше 
                        svg.team-card__more-icon(width="10" height="7")
                            use(xlink:href="img/sprite.svg#dropdown-arrow")
            
            li.team-section__item.animation-down
                a.team-card(href="#" data-modal="modal-team-1")
                    picture.team-card__picture
                        img.team-card__img(src="img/team/team-img-10.webp" srcset="img/team/team-img-10@2x.webp 2x" loading="lazy" width="315" height="279"  alt="alt")

                    h3.team-card__name Ірина Рябчун
                    p.team-card__descr старший менеджер по роботі з клієнтами

                    .team-card__more Детальніше 
                        svg.team-card__more-icon(width="10" height="7")
                            use(xlink:href="img/sprite.svg#dropdown-arrow")
