section.test-section
    .container.test-section__container
        .test-section__text.animation-down
            p Тест містить 15 питань і дає приблизний результат рівня англійської.
            p Якщо в тесті є питання, які для тебе складні та незрозумілі, пропусти їх, вибравши пункт e) нічого не знаю.
            p Для максимально точної діагностики, рекомендуємо записатися на співбесіду з розмовної англійської за тел 095 741 85 97
            br
            h2 Ключі до тесту:
            p * 0 - 5 поточний рівень A1 Starter - рекомендуємо курс Fly High 1, Wider World Starter
            p * 6 - 8 поточний рівень A1 - А2 Elementary - рекомендуємо курс Fly High 2, Wider World 1
            p * 8 - 12 поточний рівень A2 - B1 Pre-Intermediate - рекомендуємо курс Wider World 2, Wider World 3
            p * 13 - 15 поточний рівень B1 - рекомендуємо курс Wider World 3, Go Getter 4

        ul.test-section__list
            li.test-section__item.animation-down
                .icon-block.test-block
                    .icon-block__header
                        .icon-block__pic 1

                        h2.icon-block__title Which is correct for this picture?

                    .icon-block__body
                        .test-block__row
                            .test-block__col
                                form.form.test-block__form
                                    .radio.form__radio
                                        input.radio__input#test-radio-1(type="radio" name="test-radio" value="1" checked)
                                        label.radio__label(for="test-radio-1") a) This is blue.

                                    .radio.form__radio
                                        input.radio__input#test-radio-2(type="radio" name="test-radio" value="2")
                                        label.radio__label(for="test-radio-2") b) This is yellow.
                                    
                                    .radio.form__radio
                                        input.radio__input#test-radio-3(type="radio" name="test-radio" value="3")
                                        label.radio__label(for="test-radio-3") c) This is red
                                    
                                    .radio.form__radio
                                        input.radio__input#test-radio-4(type="radio" name="test-radio" value="4")
                                        label.radio__label(for="test-radio-4") е) не знаю

                                .test-block__points 1 бал

                            .test-block__col
                                picture.test-block__picture
                                    img.test-block__img(src="img/test-img-1.webp" srcset="img/test-img-1@2x.webp 2x" loading="lazy" width="353" height="263"  alt="alt")

            li.test-section__item.animation-down
                .icon-block.test-block
                    .icon-block__header
                        .icon-block__pic 2

                        h2.icon-block__title Did you enjoy the party, Clare?

                    .icon-block__body
                        audio.test-block__player(controls src="media/song.mp3")

                        form.form.test-block__form
                            .radio.form__radio
                                input.radio__input#test-radio-5(type="radio" name="test-radio-2" value="1" checked)
                                label.radio__label(for="test-radio-5") a) This is blue.

                            .radio.form__radio
                                input.radio__input#test-radio-6(type="radio" name="test-radio-2" value="2")
                                label.radio__label(for="test-radio-6") b) This is yellow.
                            
                            .radio.form__radio
                                input.radio__input#test-radio-7(type="radio" name="test-radio-2" value="3")
                                label.radio__label(for="test-radio-7") c) This is red
                            
                            .radio.form__radio
                                input.radio__input#test-radio-8(type="radio" name="test-radio-2" value="4")
                                label.radio__label(for="test-radio-8") е) не знаю

                        .test-block__points 1 бал
                        
            li.test-section__item.animation-down
                .icon-block.test-block
                    .icon-block__header
                        .icon-block__pic 3

                        h2.icon-block__title Tourists can't visit the moon yet, but rockets have 9___________astronauts there.

                    .icon-block__body
                        .test-block__row
                            .test-block__col
                                form.form.test-block__form
                                    .radio.form__radio
                                        input.radio__input#test-radio-9(type="radio" name="test-radio-2" value="1" checked)
                                        label.radio__label(for="test-radio-9") a) This is blue.

                                    .radio.form__radio
                                        input.radio__input#test-radio-10(type="radio" name="test-radio-2" value="2")
                                        label.radio__label(for="test-radio-10") b) This is yellow.
                                    
                                    .radio.form__radio
                                        input.radio__input#test-radio-11(type="radio" name="test-radio-2" value="3")
                                        label.radio__label(for="test-radio-11") c) This is red
                                    
                                    .radio.form__radio
                                        input.radio__input#test-radio-12(type="radio" name="test-radio-2" value="4")
                                        label.radio__label(for="test-radio-12") е) не знаю

                                .test-block__points 1 бал

                            .test-block__col
                                picture.test-block__picture
                                    img.test-block__img(src="img/test-img-2.webp" srcset="img/test-img-2@2x.webp 2x" loading="lazy" width="353" height="263"  alt="alt")
            
            li.test-section__item.animation-down
                .icon-block.test-block
                    .icon-block__header
                        .icon-block__pic 4

                        h2.icon-block__title Where is dad now? 
                            a(href="#") Прослухай аудіо та вибери правильну відповідь*

                    .icon-block__body
                        form.form.test-block__form
                            .test-block__grid
                                .test-block__grid-col
                                    picture.test-block__picture
                                        img.test-block__img(src="img/test-img-2.webp" srcset="img/test-img-2@2x.webp 2x" loading="lazy" width="353" height="263"  alt="alt")
                                    
                                    .radio.form__radio
                                        input.radio__input#test-radio-13(type="radio" name="test-radio-3" value="1" checked)
                                        label.radio__label(for="test-radio-13") a) This is blue.

                                .test-block__grid-col
                                    picture.test-block__picture
                                        img.test-block__img(src="img/test-img-2.webp" srcset="img/test-img-2@2x.webp 2x" loading="lazy" width="353" height="263"  alt="alt")
                                    
                                    .radio.form__radio
                                        input.radio__input#test-radio-14(type="radio" name="test-radio-3" value="2")
                                        label.radio__label(for="test-radio-14") b) This is yellow.
                                
                                .test-block__grid-col
                                    picture.test-block__picture
                                        img.test-block__img(src="img/test-img-2.webp" srcset="img/test-img-2@2x.webp 2x" loading="lazy" width="353" height="263"  alt="alt")

                                    .radio.form__radio
                                        input.radio__input#test-radio-15(type="radio" name="test-radio-3" value="3")
                                        label.radio__label(for="test-radio-15") c) This is red
                                
                                .test-block__grid-col
                                    picture.test-block__picture
                                        img.test-block__img(src="img/test-img-2.webp" srcset="img/test-img-2@2x.webp 2x" loading="lazy" width="353" height="263"  alt="alt")

                                    .radio.form__radio
                                        input.radio__input#test-radio-16(type="radio" name="test-radio-3" value="4")
                                        label.radio__label(for="test-radio-16") е) не знаю

                        .test-block__points 1 бал

            li.test-section__item.animation-down
                .icon-block.test-block
                    .icon-block__header
                        .icon-block__pic 5

                        h2.icon-block__title Контактні дані

                    .icon-block__body
                        form.form.form--black
                            .form__row
                                .form__group.form__group--6
                                    input.input.form__input(type="text" name="inputFirstName" placeholder="" autocomplete="off" required)
                                    label.form__placeholder Ім'я
                                
                                .form__group.form__group--6
                                    input.input.form__input.tell-input(type="text" name="inputPhone" placeholder="" autocomplete="off" required)

                                .form__group.form__group--6
                                    input.input.form__input(type="email" name="inputEmail" placeholder="" autocomplete="off" required)
                                    label.form__placeholder Ваша електронна адреса *

        .test-section__buttons.animation-down
            button.button.test-section__button(type="button") відправити
