section.thanks-section
    .container.thanks-section__container
        img.thanks-section__img.animation-down(src="img/thanks-img.svg" loading="lazy" width="555" height="424" alt="thanks")
        h1.thanks-section__title.animation-down(data-delay="0.2") Дякуємо за проходження теста!
        p.thanks-section__descr.animation-down(data-delay="0.4") Наш менеджер зв’яжеться з вами найближчим часом
        .thanks-section__buttons.animation-down(data-delay="0.6")
            a.button(href="#") На головну
