section.top-section
    .container.top-section__container
        picture.top-section__picture
            source(srcset="img/top-img@2x.webp 2x, img/top-img.webp" width="997" height="757" media="(max-width: 991.98px)")
            source(srcset="img/top-img-laptop@2x.webp 2x, img/top-img-laptop.webp" width="550" height="761" media="(max-width: 1199.98px)")
            img.top-section__img(src="img/top-img.webp" srcset="img/top-img@2x.webp 2x" loading="lazy" width="997" height="757"  alt="alt")

        .top-section__content
            h1.top-section__title.animation-down Час вивчити 
                span англійську
            p.top-section__descr.animation-down(data-delay="0.2") Ласкаво просимо до онлайн школи англійської з 10-річним досвідом у сфері освіти!

            .top-section__buttons.animation-down(data-delay="0.4")
                a.button.top-section__button(href="#") Тест на рівень англійської
                a.button.button--outline.top-section__try-button(href="#" data-modal="modal-lesson") Пробний урок
