section.welcome-section
    .container.welcome-section__container
        h2.section-title.welcome-section__title.animation-down Вітаємо у онлайн школі англійської!

        ul.welcome-list
            li.welcome-list__item.animation-down
                .welcome-list__pic
                    svg.welcome-list__icon(width="30" height="26")
                        use(xlink:href="img/sprite.svg#flag")
                
                p.welcome-list__text Наша місія - покращити якість життя людей, допомігши їм досконало володіти англійською!
            
            li.welcome-list__item.animation-down
                .welcome-list__pic 10
                
                p.welcome-list__text Пишаємося тим, що вже протягом 10 років надаємо високоякісну освіту та сприяємо мовному розвитку наших студентів
            
            li.welcome-list__item.animation-down
                .welcome-list__pic
                    svg.welcome-list__icon(width="28" height="22")
                        use(xlink:href="img/sprite.svg#hat")
                
                p.welcome-list__text Випустили 93 групи,понад задоволених 1150 студентів, які досягли своїх цілей, провели більше 5000 уроків англійської 
